<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Testovaci ukol">
	<meta name="author" content="Petr Jonas">
	<title>Gamee - testovaci ukol</title>
</head>

<body>
{include content}

{ifset scripts}
	{include scripts}
{/ifset}
</body>
</html>
