{block content}
	<label for="gameId">Vyber ID hry</label>
	<select id="gameId">
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
	</select>
	<label for="player">Player number</label>
	<input type="number" id="player" value="1"/>
	<label for="score">Write score</label>
	<input type="number" id="score"  value="10"/>

	<button id="addNew" onclick="addNewScore(document.getElementById('gameId').value,document.getElementById('player').value,document.getElementById('score').value);">Add New Record</button>
	<button id="getTop" onclick="getTopScore(document.getElementById('gameId').value);">getTop</button>
{/block}
{block scripts}

<script type="text/javascript">
	var xhr = new XMLHttpRequest();

	function addNewScore(gameId, playerId, score) {
		xhr.open("POST", '/api/new-score', true);
		xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhr.onreadystatechange = function () {
			if (xhr.status === 200) {
				var data = xhr.responseText;
			}
		};
		xhr.send("gameId=" + gameId + "&player=" + playerId + "&score=" + score);
	}

	function getTopScore(id)
	{
		xhr.open("GET", '/api/top-score/'+ id, true);
		xhr.setRequestHeader("Content-type", "application/json");
		xhr.onreadystatechange = function() {
			if(xhr.status === 200) {
				var data = xhr.responseText;
				var jsonResponse = JSON.parse(data);
				console.log(jsonResponse["data"]);
			}
		};
		xhr.send();
	}
</script>
{/block}